{% load mptt_tags %}

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ app }} - {{ scompany }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                {% if nodes %}
                    {% recursetree nodes %}
                        {% if node.is_root_node %}                      <!-- если это корневой узел -->
                            {% if not node.is_leaf_node %}            <!-- если это не элемент -->
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                        {% if node.icon %}
                                            <span class="glyphicon glyphicon-{{ node.icon }}"></span>
                                        {% endif %} {{ node.name }} <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        {{ children }}
                                    </ul>
                                </li>
                            {% else %}                              <!-- если это элемент -->
                                <li>
                                    <a href="/{{ node.slug }}/">{{ node.name }}</a>
                                    {{ children }}
                                </li>
                            {% endif %}
                        {% else %}                                      <!-- если это не корневой узел -->
                            {% if node.is_leaf_node %}                  <!-- если это элемент -->
                                <li>
                                    <a href="/{{ node.get_root.slug }}/{{ node.slug }}/">{{ node.name }}</a>
                                    {{ children }}
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endrecursetree %}
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <p class="navbar-text">{{ user.first_name }} {{ user.last_name }}
                            <a href="{% url 'logout' %}"> Выход</a>
                        </p>
                    </li>
                {% else %}
                    <li>
                        <p class="navbar-text">Вы не авторизованы
                            <a href="{% url 'login' %}"> Вход</a>
                        </p>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
