<div class="mini-stat clearfix bg-warning" >
    <div class="row">
        <div class="col-6" style="color: #ffffff;">
            <h3>ТО</h3>
        </div>
        <div class="col-6 mini-stat-info text-right text-muted">
            <dl class="row" style="margin-top: 10px; color: #ffffff;">
                <dt class="col-10">В ожидании</dt><dd class="col-2">{% if proposals_open %}{{ proposals_open }}{% else %}0{% endif %}</dd>
                <dt class="col-10">Назначено</dt><dd class="col-2">{% if proposals_work %}{{ proposals_work }}{% else %}0{% endif %}</dd>
                <dt class="col-10">Под контролем</dt><dd class="col-2">{% if proposals_control %}{{ proposals_control }}{% else %}0{% endif %}</dd>
            </dl>
        </div>
    </div>
    <p class="mb-0 m-t-20 text-muted"  style="margin-top: -10px; padding-bottom: 0px;">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{% url 'maintenance:get_mobjects' 'work' %}" class="card-link" style="color: #ffffff">ОБЪЕКТЫ</a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'maintenance:get_mproposals_onrouts' %}" class="card-link" style="color: #ffffff">ЗАЯВКИ Маршруты</a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'maintenance:get_mproposals' 'open' %}" class="card-link" style="color: #ffffff">З-И Принятые</a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'maintenance:get_mproposals' 'control' %}" class="card-link" style="color: #ffffff">З-И Контроль</a>
            </li>
            <li class="list-inline-item">
                <a href="{% url 'maintenance:get_mproposals' 'complete' %}" class="card-link" style="color: #ffffff">З-И Исполненые</a>
            </li>
        </ul>
    </p>
</div>