{% extends 'base.html' %}
{% load staticfiles %}
{% load short_fio %}
{% load get_user_publics %}

{% block title %}Список симкарт{% endblock %}
{% block title_body_h1 %}SIM-карты{% endblock %}
{% block title_body_small %}
    {% if status == 'active' %}
        активные
    {% else %}
        не активные
    {% endif %}
{% endblock %}

{% block content %}
    <div class="table-responsive divsortTable">
        <table class="table" id="sortTable">
            <thead>
                <tr class="text-center">
                    <td style="width: 10%;">№ SIM-карты</td>
                    <td style="width: 10%;">Оператор</td>
                    <td style="width: 10%;">Тариф</td>
                    <td style="width: 10%;">Абонентская плата</td>
                    <td style="width: 20%;">ПЦН</td>
                    <td style="width: 40%;">Применяется</td>
                </tr>
            </thead>
            <tbody>
                {% for item in simcards %}
                    <tr id="obj_{{ item.id }}"  onclick="location.href = '{% url 'simmanage:add&get_simcard' item.id %}';">
                        <td class="text-center">{{ item.Number_SIM }}</td>
                        <td class="text-center">{{ item.OpSoSRate.OpSoSName }}</td>
                        <td class="text-center">{{ item.OpSoSRate.Rate }}</td>
                        <td class="text-center">{{ item.OpSoSRate.price }} руб.</td>
                        <td class="text-center">{{ item.Owner }}</td>
                        <td class="text-left">
                            {{ item.Use_type }}
                            {% if item.Use_type.slug == 'usesim_object' %}
                                Объект: №{{ item.Use_numberobject }} {{ item.Use_nameobject }} ({{ item.Use_addressobject }})
                            {% else %}
                                ФИО: {{ item.Use_user }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
