{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Заявка №{{ request_id }}{% endblock %}

{% block title_body %}

{% endblock %}

{% block title_body_h1 %}SIM-карта{% endblock %}
{% block title_body_small %}№п/п {{ simcard_id }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">

                <form action="/simcard/item/{{ simcard_id }}/" method="post" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary text-right">
                            Сохранить ->
                        </button>
                    {% endbuttons %}
                </form>

            </div>
        </div>
    </div>

{% endblock %}