{% extends 'base.html' %}
{% load staticfiles %}
{% load short_fio %}
{% load get_user_publics %}

{% block title %}Список заявок{% endblock %}

{% block title_body_h1 %}SIM-карты -{% if status == 'active' %} активные {% else %} не активные {% endif %}{% endblock %}
{% block title_body_small %}{% if status == 'active' %}<a href="/simcard/item/None/">Добавить SIM-карту</a>{% endif %}{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="text-center">
                <td style="width: 10%;">№ SIM-карты</td>
                <td style="width: 20%;">Оператор</td>
                <td style="width: 20%;">Контрагент</td>
                <td style="width: 15%;">Тип применения</td>
                <td style="width: 25%;">Применяется</td>
                <td style="width: 10%;">Состояние</td>
            </tr>
            </thead>
            <tbody>
                {% for item in simcards %}
                    <tr id="obj_{{ item.id }}" class="text-center" onclick="location.href = '/simcard/item/{{ item.id }}/';">
                        <td>{{ item.Number_SIM }}</td>
                        <td>{{ item.OpSoSRate }}</td>
                        <td>{{ item.Owner }}</td>
                        <td>{{ item.Use_type }}</td>
                        <td>
                            {% if item.Use_type.slug == 'usesim_object' %}
                                №{{ item.Use_numberobject }} ({{ item.Use_addressobject }})
                            {% else %}
                                {{ item.Use_user }}
                            {% endif %}
                        </td>
                        <td>
                            {% if item.Status == True %}
                                Активна
                            {% else %}
                                Не активна
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}
    <ul class="pagination">
        {% if simcards.has_previous == True %}
            <li><a href="/simcards/{{ status.slug }}/page/{{ simcards.previous_page_number }}/">&laquo;</a></li>
            <li><a href="/simcards/{{ status.slug }}/page/1/">1</a></li>
            <li class="disabled"><a href="#">...</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for page in simcards.paginator.page_range %}
            {% if page == simcards.number %}
                <li class="active">
                    <a>{{ simcards.number }}<span class="sr-only">(текущая)</span></a>
                </li>
            {% endif %}
        {% endfor %}
        {% if simcards.has_next == True %}
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="/simcards/{{ status.slug }}/page/{{ simcards.paginator.num_pages }}/">{{ simcards.paginator.num_pages }}</a></li>
            <li><a href="/simcards/{{ status.slug }}/page/{{ simcards.next_page_number }}/">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
{% endblock %}