{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Заявка ТО{% endblock %}
{% block title_body_h1 %}
    {% if request_data %}
        Заявка №{{ request_data.id }}
    {% else %}
        Новый объект ТО
    {% endif %}
    Заявка №{{ request_data.id }}{% endblock %}
{% block title_body_small %}{% endblock %}

{% block content %}
    <div class="container">
        <h3>Объект:
            {% if request_data %}
                {{ request_data.Object.NumObject }} - {{ request_data.Object.AddressObject }} ({{ request_data.Object.Client.Name }})
            {% else %}
                {{ object_data.NumObject }} - {{ object_data.AddressObject }} ({{ object_data.Client.Name }})
            {% endif %}
        </h3>
        <div class="panel panel-default">
            <div class="panel-body">
                {% if request_data %}
                    <form action="{% url 'maintenance:add&get_request' request_data.Object.id request_data.id %}" method="post" class="form">
                {% else %}
                    <form action="{% url 'maintenance:add&get_request' object_data.id %}" method="post" class="form">
                {% endif %}
                    {% csrf_token %}
                    {% bootstrap_form form layout='horizontal' %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary text-center" style="margin-top: 10px;">
                            Сохранить ->
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}