{% extends 'container.html' %}

{% block page_title %}{{ title }}{% endblock %}
{% block section_active %}Справочники{% endblock %}
{% block add_object_url %}{% url url_addget %}{% endblock %}
{% block add_object_name %}контрагента{% endblock %}

{% block table_head %}
    <td style="width: 10%;">#</td>
    <td style="width: 15%;">Тип</td>
    <td style="width: 55%;">Наименование</td>
    <td style="width: 10%;">ИНН</td>
    <td style="width: 10%;">КПП</td>
{% endblock %}

{% block table_body %}
    {% for item in list %}
        <tr id="obj_{{ item.id }}" onclick="location.href = '{% url url_addget item.id %}';">
            <td class="text-center">{{ item.id }}</td>
            <td class="text-center">{{ item.TypesClient.short_name }}</td>
            <td>{{ item.Name }}</td>
            <td class="text-center">{{ item.INN }}</td>
            <td class="text-center">{{ item.KPP }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% include 'templatetags/pagination.html' with page_obj=list %}
{% endblock %}