{% extends 'page.html' %}
{% load bootstrap4 %}

{% block page_title %}{{ title }}{% endblock %}
{% block section_active %}
    {% if data %}
        №{{ data.id }}
    {% else %}
        новая(ый)
    {% endif %} в Справочники
{% endblock %}

{% block content %}
    <div class="container">
        {% bootstrap_form_errors form %}
        <form action="{% if data %}{% url url_addget data.id %}{% else %}{% url url_addget %}{% endif %}" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form layout='horizontal' %}
            {% buttons %}
                <a class="btn btn-warning" href="{% url url_getlist %}" role="button">Вернуться к списку</a>
                {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-primary" %}
            {% endbuttons %}
        </form>
    </div>
{% endblock %}