{% extends 'base.html' %}
{% load static bootstrap4 %}

{% block body_style %}overflow: visible;{% endblock %}

{% block content %}
    <div class="accountbg"></div>
    <div class="wrapper-page">
        <div class="card">
            <div class="card-header" style="height: 80px;">
                <div class="row">
                    <div class="col-6">
                        <h3 class="text-center mt-0 m-b-15">
                            <a href="{% url 'dashboard:index' %}" class="logo logo-admin">
                                <img src="{% static "img/logo-dark.png" %}" height="30" alt="logo">
                            </a>
                        </h3>
                    </div>
                    <div class="col-6">
                        <h4 class="text-muted text-center font-18"><b>Обновление профиля</b></h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="p-3">
                    <small class="text-muted">Пользователь: {{ user.last_name }} {{ user.first_name }}</small>
                    <form class="form-horizontal m-t-20" action="{% url 'update_profile' %}" method="post">
                        {% csrf_token %}
                        {% bootstrap_form_errors form type='all' %}
                        <div class="form-group row">
                            <div class="col-5">
                                {% bootstrap_label "Дата рождения" label_for="birthday" %}
                            </div>
                            <div class="col-7">
                                {% bootstrap_field form.birthday layout='inline' %}
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-5">
                                {% bootstrap_label "Номер телефона" label_for="phone" %}
                            </div>
                            <div class="col-7">
                                {% bootstrap_field form.phone layout='inline' %}
                            </div>
                        </div>
                        <div class="form-group text-center row m-t-20">
                            <div class="col-12">
                                {% bootstrap_button "Сохранить" button_type="submit" button_class="btn btn-info btn-block waves-effect waves-light" %}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}