{% extends 'base.html' %}
{% load staticfiles dashboard_tags %}

{#{% block title_body_h1 %}Панель управления{% endblock %}#}
{#{% block title_body_small %}АРМ "ЗАЯВКИ"{% endblock %}#}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {# --- Информеры --- #}
                <div class="row">
                    <div class="col-md-4">
                        {% informer_trouble user %}
                    </div>
                    <div class="col-md-4">
                        {% informer_build user %}
                    </div>
                    <div class="col-md-4">
                        {% informer_maintenance user %}
                    </div>
                </div>
            </div>
        </div>
{% comment %}        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-warning">Внимание! С 2 апреля 2018 года наименование "Неисправности" изменено на "Эксплуатация"</div>
            </div>
        </div>{% endcomment %}
    </div>
{% endblock %}