{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Список заявок{% endblock %}

{% block title_body_h1 %}Список объектов ТО{% endblock %}
{% block title_body_small %}<a href="/maintenance/objects/item/">Добавить объект</a>{% endblock %}

{% block content %}
    <div class="container panel panel-default noprint">
        <div class="panel-body">
            <form action="/maintenance/objects/" method="post" class="form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-xs-10">
                        {% bootstrap_form form layout='horizontal' %}
                    </div>
                    <div class="col-xs-2">
                        {% buttons %}
                            <button type="submit" class="btn btn-primary text-center">Вывести</button>
                        {% endbuttons %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="text-center">
                <td style="width: 5%;">№ п/п</td>
                <td style="width: 5%;">№ объекта</td>
                <td style="width: 25%;">Адрес объекта</td>
                <td style="width: 20%;">Контрагент</td>
                <td style="width: 15%;">Тип сигнализации</td>
                <td style="width: 15%;">Период обслуживания</td>
                <td style="width: 15%;">Состояние</td>
            </tr>
            </thead>
            <tbody>
                {% for item in list_object %}
                    <tr id="obj_{{ item.id }}" onclick="location.href = '/maintenance/objects/item/{{ item.id }}/';">
                        <td class="text-center">{{ forloop.counter }}</td>
                        <td class="text-center">{{ item.NumObject }}</td>
                        <td>{{ item.AddressObject }}</td>
                        <td class="text-center">{{ item.Client }}</td>
                        <td class="text-center">
                            {% for type in item.TypeSecurity.all %}
                                {{ type.Name }},
                            {% endfor %}</td>
                        <td class="text-center">
                            {{ item.Year_schedule }}
                            (
                                {% for month in item.Month_schedule.all %}
                                    {{ month.Month_num }},
                                {% endfor %}
                            )
                        </td>
                        <td class="text-center">
                            {{ item.Status }}
                            {% if item.Routes %}
                            {% else %}
                                <p>Маршрут не определён</p>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block pagination %}
    <ul class="pagination">
        {% if objects.has_previous == True %}
            <li><a href="/maintenance/objects/page/{{ list_object.previous_page_number }}/">&laquo;</a></li>
            <li><a href="/maintenance/objects/page/1/">1</a></li>
            <li class="disabled"><a href="#">...</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for page in list_object.paginator.page_range %}
            {% if page == list_object.number %}
                <li class="active">
                    <a>{{ list_object.number }}<span class="sr-only">(текущая)</span></a>
                </li>
            {% endif %}
        {% endfor %}
        {% if objects.has_next == True %}
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="/maintenance/objects/page/{{ list_object.paginator.num_pages }}/">{{ objects.paginator.num_pages }}</a></li>
            <li><a href="/maintenance/objects/page/{{ list_object.next_page_number }}/">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
{% endblock %}