{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Параметр</td>
                <td>Сегодня</td>
                <td>за 7 дней</td>
                <td>за 30 дней</td>
                <td>за Год</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Создано заявок</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Заявок "в работе"</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Исполнено заявок</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
{% endblock %}