{% extends 'page.html' %}
{% load bootstrap4 personal_tags build_request_tags %}

{% block content %}
    <div class="container card m-b-30 d-print-none" style="margin-top: -77px; background-color: #EFF3F6;">
        <button type="button" class="btn btn-dark pull-right" aria-hidden="true" data-toggle="collapse" data-target="#form-search" style="width: 170px; margin-top: -5px;">Параметры поиска</button>
        <div class="card collapse {% if requests == None or requests.count == 0 %}show{% endif %}" id="form-search" style="padding: 10px;">
            <form action="{% url 'dashboard:search' %}" method="post" class="form" style="margin-top: 8px;">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-3" style="padding-top: 5px;">
                            {% bootstrap_label "Дата(ы)" label_for="requestdate" %}
                            <i class="fa fa-info-circle fa-lg" style="color:blue" data-toggle="tooltip" data-placement="top" title="Второе поле даты - необязательное. При выборе <За весь период>, не удаляйте даты из полей." aria-hidden="true"></i>
                        </div>
                        <div class="col-2">
                            {% bootstrap_field form.typedates layout='inline' %}
                        </div>
                        <div class="col-2">
                            {% bootstrap_field form.startdate layout='inline' %}
                        </div>
                        <div class="col-2">
                            {% bootstrap_field form.enddate layout='inline' %}
                        </div>
                        <div class="col-2" style="padding-top: 5px;">
                            {% bootstrap_field form.norangedate %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3" style="padding-top: 5px;">
                            {% bootstrap_label "Параметры" label_for="typerequest" %}
                        </div>
                        <div class="col-3">
                            {% bootstrap_field form.typerequest layout='inline' %}
                        </div>
                        <div class="col-3">
                            {% bootstrap_field form.set layout='inline' %}
                        </div>
                        <div class="col-3">
                            {% bootstrap_field form.status layout='inline' %}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3" style="padding-top: 5px;">
                            {% bootstrap_label "Исполнитель" label_for="coworkers" %}
                        </div>
                        <div class="col-5">
                            {% bootstrap_field form.coworkers layout='inline' %}
                        </div>
                        <div class="col-4">
                            {% bootstrap_field form.clients layout='inline' %}
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="form-group">
                    <div class="row">
                        <div class="col-3" style="padding-top: 5px;">
                            {% bootstrap_label "Объект" label_for="typerequest" %}
                        </div>
                        <div class="col-2">
                            {% bootstrap_field form.numobject layout='inline' %}
                        </div>
                        <div class="col-5">
                            {% bootstrap_field form.adrobject layout='inline' %}
                        </div>
                        <div class="col-2">
                            {% bootstrap_button "Показать" button_type="submit" button_class="btn-primary" %}
                        </div>
                    </div>
                </div>
                {% bootstrap_messages %}
            </form>
        </div>
    </div>
    {% if message_result or message_object %}
        <div class="container alert alert-warning" role="alert">
            Слишком много результатов поиска! {{ message_result }} {{ message_object }}
        </div>
    {% endif %}
    {% if requests.count > 0 or objects.count > 0 %}
        <div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <td style="width: 5%;">Тип</td>
                            <td style="width: 7%;">Добавлено</td>
                            <td style="width: 5%;">Запланировано</td>
                            <td style="width: 20%;">Объект</td>
                            <td style="width: 15%;">Контрагент</td>
                            <td style="width: 23%;">Вид неисправности</td>
                            <td style="width: 10%;">Описание устранения</td>
                            <td style="width: 5%;">Статус</td>
                            <td style="width: 10%;">Исполнитель</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in requests %}
                            <tr id="obj_{{ item.id }}" target="_self" onclick="javascript:window.open('{% if type == 'exploitation' %}{% url 'exploitation:addget_eproposals' item.id %}{% elif type == 'build' %}{% url 'build:addget_bproposals' item.id %}{% else %}{% url 'maintenance:addget_mproposals' item.id %}{% endif %}')";>
                                <td class="text-center" style="margin-top: -10px;">
                                    <abbr class="h4 d-print-none" title="{{ item.TypeRequest.Name }}"><small>{{ item.TypeRequest.short_name }}</small></abbr>
                                    <abbr class="h4 d-print-none" title="{{ item.TypeDocument.Name }}"><small>{{ item.TypeDocument.short_name }}</small></abbr>
                                    <small class="d-none d-print-block">{{ item.TypeRequest.short_name }}{{ item.TypeDocument.short_name }}</small>
                                    <small>/{{ item.id }}</small>
                                </td>
                                <td class="text-center">{{ item.DateTime_add|date:"d.m.Y H:i"  }}</td>
                                <td class="text-center">{{ item.DateTime_schedule|date:"d.m.Y" }}</td>
                                <td class="text-right">
                                    {% if type == 'exploitation' %}
                                        {{ item.NumObject }} ({{ item.AddressObject }})
                                    {% elif type == 'build' %}
                                        {{ item.AddressObject }}
                                    {% else %}
                                        {{ item.Object.AddressObject }}
                                    {% endif %}
                                </td>
                                <td class="text-right">
                                    {% if type == 'exploitation' %}
                                        {{ item.Client_words }}
                                    {% elif type == 'build' %}
                                        {{ item.Client }}
                                    {% else %}
                                        {{ item.Object.Client_choices }}
                                    {% endif %}
                                </td>
                                <td class="text-center">{{ item.FaultAppearance }}</td>
                                <td>{{ item.DescriptionWorks }}</td>
                                <td class="text-center">{{ item.Status }}<br/>{{ item.DateTime_work|date:"d.m.Y" }}</td>
                                <td class="text-center">
                                    {% if type == 'build' %}
                                        {% get_coworker_from_acts item.id %}
                                    {% else %}
                                        {% for cowork in item.CoWorkers.all %}
                                            {{ cowork.id|view_shortfio_coworker }},<br/>
                                        {% endfor %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        {% for item in objects %}
                            <tr id="obj_{{ item.id }}" target="_self" onclick="javascript:window.open('{% url 'maintenance:addget_mobjects' item.id %}')";>
                                <td class="text-center">
                                    <abbr class="h4" title="{{ item.TypeRequest.Name }}">{{ item.TypeRequest.short_name }}</abbr>
                                    <abbr class="h4" title="{{ item.TypeDocument.Name }}">{{ item.TypeDocument.short_name }}</abbr>
                                </td>
                                <td class="text-center">{{ item.DateTime_add|date:"d.m.Y H:m"  }}</td>
                                <td class="text-center"></td>
                                <td class="text-right">{{ item.AddressObject }}</td>
                                <td class="text-right">{{ item.Client_choices }}
                                </td>
                                <td class="text-center"></td>
                                <td></td>
                                <td class="text-center">
                                    {% if item.Status_object == True %}Обслуживается{% else %}Не обслуживается{% endif %}
                                </td>
                                <td class="text-center">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    <small> {{ item.Create_user|view_shortfio_user }}</small>
                                    {% if item.Update_user %}
                                        <br/>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                        <small> {{ item.Update_user|view_shortfio_user }}</small>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <div class="container alert alert-warning" role="alert">
            Нет результатов поиска. Попробуйте изменить параметры поиска!
        </div>
    {% endif %}
{% endblock %}