{% extends 'base.html' %}
{% load staticfiles %}
{% load short_fio %}
{% load get_user_publics %}

{% block title %}Список заявок{% endblock %}

{% block dop_link %}
    <li><a href="/request/item/">Добавить заявку</a></li>
    <li><a href="/request/date/">На дату</a></li>
{% endblock %}

{% block title_body_h1 %}Устранение неисправностей{% endblock %}
{% block title_body_small %}{{ status.Name }}{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr class="text-center">
                <td style="width: 5%;">№ заявки</td>
                <td style="width: 10%;">Дата/время добавления</td>
                <td style="width: 5%;">№ объекта</td>
                <td style="width: 15%;">Адрес объекта</td>
                <td style="width: 15%;">Контрагент</td>
                <td style="width: 15%;">Вид неисправности</td>
                <td style="width: 10%;">Запланировано</td>
                <td style="width: 10%;">Исполнитель</td>
                <td style="width: 15%;">Автор</td>
            </tr>
            </thead>
            {% for item in requests %}
                <tbody>
                <tr id="obj_{{ item.id }}" onclick="location.href = '/item/{{ item.id }}/';">
                    <td class="text-center">{{ item.id }}</td>
                    <td class="text-center">{{ item.DateTime_add }}</td>
                    <td class="text-center">{{ item.NumObject }}</td>
                    <td>{{ item.AddressObject }}</td>
                    <td>{{ item.Client }}</td>
                    <td>{{ item.FaultAppearance }}</td>
                    <td class="text-center">{{ item.DateTime_schedule }}</td>
                    <td>
                        {% for cowork in item.CoWorkers.all %}
                            {{ cowork.Person_FIO|short_fio }},
                        {% endfor %}
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            <li>Создал: {{ item.Create_user|get_user_publics }}</li>
                            <li>Обновил: {{ item.Update_user|get_user_publics }}</li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block pagination %}
    <ul class="pagination">
        {% if requests.has_previous == True %}
            <li><a href="/trouble_shooting/{{ status.slug }}/page/{{ requests.previous_page_number }}/">&laquo;</a></li>
            <li><a href="/trouble_shooting/{{ status.slug }}/page/1/">1</a></li>
            <li class="disabled"><a href="#">...</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}
        {% for page in requests.paginator.page_range %}
            {% if page == requests.number %}
                <li class="active">
                    <a>{{ requests.number }}<span class="sr-only">(текущая)</span></a>
                </li>
            {% endif %}
        {% endfor %}
        {% if requests.has_next == True %}
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="/trouble_shooting/{{ status.slug }}/page/{{ requests.paginator.num_pages }}/">{{ requests.paginator.num_pages }}</a></li>
            <li><a href="/trouble_shooting/{{ status.slug }}/page/{{ requests.next_page_number }}/">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
{% endblock %}